@import url("./colors.css");
@import url("./fonts.css");

:root {
  color-scheme: light dark;

  --small-screen-width: 768px;
  --font-monospace: "VT323", monospace;

  --background-level-1: light-dark(
    var(--primary-tint-6),
    var(--primary-shade-6)
  );
  --background-level-2: light-dark(
    var(--primary-tint-5),
    var(--primary-shade-5)
  );
  --background-level-3: light-dark(
    var(--primary-tint-4),
    var(--primary-shade-4)
  );

  --foreground-level-1: light-dark(
    var(--primary-shade-6),
    var(--primary-tint-4)
  );
  --foreground-level-2: light-dark(
    var(--primary-shade-5),
    var(--primary-tint-5)
  );
  --foreground-level-3: light-dark(
    var(--primary-shade-4),
    var(--primary-tint-6)
  );

  --foreground-primary-1: light-dark(
    var(--primary-shade-2),
    var(--primary-shade-3)
  );
  --foreground-primary-2: light-dark(
    var(--primary-shade-1),
    var(--primary-shade-2)
  );
  --foreground-primary-3: light-dark(var(--primary-pure), var(--primary-pure));

  --foreground-complementary-1: light-dark(
    var(--complementary-shade-2),
    var(--complementary-shade-3)
  );
  --foreground-complementary-2: light-dark(
    var(--complementary-shade-1),
    var(--complementary-shade-2)
  );
  --foreground-complementary-3: light-dark(
    var(--complementary-pure),
    var(--complementary-pure)
  );

  --border-width-default: 2px;

  --page-height: fit-content;

  --body-width-default: 100%;
  --body-width-large-screen: 100%;
  --body-width-small-screen: 100%;

  --slide-content-padding: 5em 10em;

  --title-font-family: var(--font-monospace);
  --title-font-weight: 900;
  --title-margin: 0;

  --description-font-family: var(--font-monospace);
  --description-font-size: 1.8em;
  --description-width: 100%;
}

* {
  color-scheme: inherit;
}

@media (max-width: 768px) {
  :root {
    --slide-content-padding: 2.5em 0;

    --description-font-size: 1.2em;
  }
}
